.layout-full-container {
    min-height: 100vh;
    overflow-y: auto;
}
.layout-container {
    width: 75rem;
    max-width: 100vw;

    padding-top: 4rem;
}
.list-container {
    height: fit-content;

    .list-label {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.products-container {
    height: fit-content !important;
    max-width: 100vw;
    padding-bottom: .25rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    grid-template-rows: auto;
    &>*{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(auto , 50vw));
    }
}