.navi-item {
    height: 4rem;
    aspect-ratio: 1;

    border-radius: 100%;

    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
    i {
        font-weight: bold;
        font-size: 1.25rem;
    }

    &.center {
        height: 5rem;
    }

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
.navi-item-home {
    padding: 0.5rem 1rem ;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: white;

    margin-bottom: 2rem;
    transition: margin-bottom 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

.search-full-container {
    background-color: rgba(255, 255, 255, 0.19);
    * {
        font-size: 1.25rem;
    }

    .search-container {
        width: 75rem;
        max-width: 100vw;
        height: 50rem;
        max-height: 100vh;

        background-color: white;

        border-radius: 1rem;
        border: solid 1px lightgray;

        .input-container{
            padding: 1.5rem;
            * {
                border: none
            }

            input {
                padding: 0.5rem;

                &:focus {
                    outline: none;
                    border-bottom: solid 1px lightgray;
                }
            }

            button {
                padding-right: 0.5rem;
                background-color: transparent;
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
    .result-container {
        width: 72rem;
        max-width: 90vw;
        height: 40rem;
        max-height: 90vh;
    }
} 
.cate-option-item {
    padding-left: 1rem;
    padding-right: 0.5rem !important;
    &:hover,&.active {
        cursor: pointer;
        background-color: whitesmoke;
        border-radius: 0.5rem;
        span {
            text-decoration: underline;
        }
        i {
            color: red;
        }
    }
}

.cate-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: min-content ;
    gap: 0.75rem;
}
.cate-item {
    align-self: self-start;
    height: fit-content !important;
    max-width: 100%;
    padding: 0.5rem 1rem;
    text-align: start;
    border-left: solid 4px gray;

    transition: all 0.1s ease-in-out;
    
    &:hover {
        cursor: pointer;
        background-color: whitesmoke;
        border-left:solid 4px red;
        color: black;
        font-weight: bold;
    }
}
@media (max-width: 768px) {
    .navi-full-container {
        z-index: 50 !important;
    }

    .search-full-container {
        z-index: 50 !important;
    }
    .search-container {
        z-index: 50 !important;
        
        height: 100vh !important;
        width: 100vw !important;

        border-radius: 0 !important;
        *{
            z-index: 50 !important;
        }
    }
}
