.content-full-container {
    min-height: 100vh;
}
.content-container {
    width: 85rem;
    max-width: 100vw;
    padding-left: 2rem;
}
.object-cover {
    object-fit: cover;
    object-position: center; 
}

.content__title {
    padding-top: 5rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}

.content__des {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding-left: 0.25rem ;
    width: 40rem;
    max-width: 80vw;
}

.content__price {
    font-weight: bold;
    font-size: 1rem;
    padding-left: 0.25rem;
    color: white;
}