.product-full-container {
    padding-top: 3.5rem;
    overflow: auto;
}
.out-label {
    width: 75rem;
    max-width: 100vw;
    text-align:start ;
    font-size: 2rem;
    font-weight: 400;
}

.product-container {
    padding-top: 1rem;
    height: fit-content;

    width: 75rem;
    max-width: 100vw;
    background-color: transparent;

    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    
    .container-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
        grid-template-rows: auto;
        gap: 0px;
        max-width: 100vw !important ;
    }
    .container-images img {
        width: 100%;
        height: auto;
        object-fit: cover; 
      }
}
.all-images-container {
    width: 75rem;
    max-width: 100vw;
    min-height: 492px;
    background-color: transparent;

    display: flex;
    flex-direction: row;

    overflow: auto;
}

.container-content {
    position:sticky !important;
    height: fit-content !important;
    padding-left:0.5rem ;
    max-width: 100vw;
}
.product-form {
    .active {
        border: solid 1px black;
        background-color: white;
    }
    .form-number {
        padding: 0.75rem 1.25rem;
        gap: 1rem;

        background-color: rgba(234, 230, 230, 0.538);

        button {
            background-color: transparent !important;
            border: none !important;
        }
        span {
            width: 1.25rem;
            text-align: center;            
        }
    }
    .color-btn {

        &:hover {
            cursor: pointer;
        }

        &.active {
            border: solid 3px black !important;
        }
    }
}
.product-control {
    .product-btn {
        font-size: 1.5rem;

        &.cart-btn {
            border: solid 3px black;
            font-weight: 500;

            &:hover {
                background-color:black;
                *{
                    color: white;
                }
            }

            i {
                font-size: 1.5rem !important;
            }
        }

        &.pi-heart-fill {
            color: red !important;
        }
    }
}

@media (max-width: 768px) {
    .container-content {
        position: relative;
        top: unset;
        /* flex-direction: column-reverse !important; */
    }
}